{# @var string $uri #}
{% set tab = tab ?? 'overview' %}
{% set range = range ?? 'last_30_days' %}

{% set tabs = {
    overview: 'Overview' | t('fathom'),
    visitors: 'Visitors' | t('fathom'),
    browsers: 'Browsers' | t('fathom'),
    devices: 'Devices' | t('fathom'),
    referrers: 'Referrers' | t('fathom'),
} %}

<div class="meta" hx-indicator="#fathom-sidebar">
    <div class="fathom-tabs" role="tablist">
        {% for value, label in tabs %}
            {{ tag('button', {
                type: 'button',
                text: label,
                class: 'fathom-tab',
                role: 'tab',
                sprig: value != tab,
                's-vals': { tab: value, range: range },
                'aria-selected': value == tab ? 'true' : false,
            }) }}
        {% endfor %}
    </div>

    <div class="fathom-tab-content">
        {% if sprig.isInclude %}
            <div class="fathom-initial-placeholder">
                <div class="fathom-loading" sprig s-trigger="load"></div>
            </div>
        {% else %}
            <div class="fathom-tab-body">
                {% include 'fathom/sidebar/tabs/' ~ tab with {
                    uri: uri,
                } %}
            </div>

            <div class="fathom-tab-footer">
                <label for="fathom-sidebar-range" class="visually-hidden">Range</label>
                {#
                Omit the `[name]` attribute to prevent Craft from tracking it as an element edit form field
                and saving an element draft any time the range changes.
                #}
                <select id="fathom-sidebar-range" data-name="range" sprig s-trigger="change" s-val:tab="{{ tab }}">
                    {% for key, option in fathom.widgets.getRanges() %}
                        <option value="{{ key }}" {{ range == key ? 'selected' }}>{{ option.label }}</option>
                    {% endfor %}
                </select>
                <span class="fathom-loading"></span>
            </div>
        {% endif %}
    </div>
</div>
