{% set response = fathom.api.getDeviceTypes(range) %}
{% set total_pageviews = collect(response).sum('pageviews') %}
{% set total_visits = collect(response).sum('visits') %}

<table>
    <thead>
    <tr>
        <th>Device Type</th>
        <th class="fathom-table-shrink">Views</th>
        <th class="fathom-table-shrink">Visitors</th>
    </tr>
    </thead>
    <tbody>
    {% for row in response %}
        {% set percentage = (row.pageviews + row.visits) / (total_pageviews + total_visits) * 100 %}
        <tr>
            <td class="fathom-table-bar"
                style="--fathom-bar-percentage: {{ percentage }}; --fathom-bar-color: {{ fathom.widgets.getColorForIndex(loop.index0) }}; --fathom-bar-opacity: 0.25;">
                {{ svg("@fathom/icons/device-types/#{row.device_type|kebab}.svg") }}
                {{ row.device_type }}
            </td>
            <td class="fathom-table-number" title="{{ row.pageviews | number }}">{{ row.pageviews | fathom_number }}</td>
            <td class="fathom-table-number" title="{{ row.visits | number }}">{{ row.visits | fathom_number }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
