{% set response = fathom.api.getDeviceTypes(range) %}

{% set chartId = widget.id ~ '-chart' %}
{% set chartData = {
    labels: response | column('device_type'),
    datasets: [
        {
            label: 'Visitors' | t('fathom'),
            backgroundColor: response | map((row, i) => fathom.widgets.getColorForIndex(i, 0.5)),
            data: response | column('visits'),
        },
        {
            label: 'Pageviews' | t('fathom'),
            backgroundColor: response | map((row, i) => fathom.widgets.getColorForIndex(i, 0.25)),
            data: response | column('pageviews'),
        },
    ],
} %}

{% set total_pageviews = collect(response).sum('pageviews') %}
{% set total_visits = collect(response).sum('visits') %}

<div class="fathom-chart">
    <canvas id="{{ chartId }}"></canvas>
</div>
<table>
    <thead>
    <tr>
        <th>{{ 'Device Type' | t('fathom') }}</th>
        <th class="fathom-table-shrink">{{ 'Views' | t('fathom') }}</th>
        <th class="fathom-table-shrink">{{ 'Visitors' | t('fathom') }}</th>
    </tr>
    </thead>
    <tbody>
    {% for row in response %}
        {% set percentage = (row.pageviews + row.visits) / (total_pageviews + total_visits) * 100 %}
        <tr>
            <td class="fathom-table-bar"
                style="--fathom-bar-percentage: {{ percentage }}; --fathom-bar-color: {{ fathom.widgets.getColorForIndex(loop.index0) }}; --fathom-bar-opacity: 0.25;">
                {{ svg("@fathom/icons/device-types/#{row.device_type|kebab}.svg") }}
                {{ row.device_type }}
            </td>
            <td class="fathom-table-number" title="{{ row.pageviews | number }}">{{ row.pageviews | fathom_number }}</td>
            <td class="fathom-table-number" title="{{ row.visits | number }}">{{ row.visits | fathom_number }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script>
new Chart(document.getElementById("{{ chartId }}"), {
    type: 'pie',
    options: {{ widget.chartSettings | json_encode | raw }},
    data: {{ chartData | json_encode | raw }}
});
</script>
