{% set overview = fathom.api.getOverview(range) %}

<div class="fathom-stat">
    <span class="fathom-stat-number" title="{{ overview.visits | number }}">{{ overview.visits | fathom_number }}</span>
    <span class="fathom-stat-label">{{ 'Visitors' | t('fathom') }}</span>
</div>
<div class="fathom-stat">
    <span class="fathom-stat-number" title="{{ overview.pageviews | number }}">{{ overview.pageviews | fathom_number }}</span>
    <span class="fathom-stat-label">{{ 'Views' | t('fathom') }}</span>
</div>
<div class="fathom-stat">
    <span class="fathom-stat-number">{{ overview.avg_duration | fathom_duration }}</span>
    <span class="fathom-stat-label">{{ 'Avg. Time on Site' | t('fathom') }}</span>
</div>
<div class="fathom-stat">
    <span class="fathom-stat-number">{{ (overview.bounce_rate * 100) | round(1) }}%</span>
    <span class="fathom-stat-label">{{ 'Bounce Rate' | t('fathom') }}</span>
</div>
