<div class="fathom">
    <form class="fathom-range">
        <label for="widget{{ widget.id }}-range" class="visually-hidden">Range</label>
        <select id="widget{{ widget.id }}-range" name="range" onchange="
            Craft.Fathom.patch({{ widget.id }}, { range: event.target.value })">
            {% for key, range in ranges %}
                <option value="{{ key }}" {{ widget.range == key ? 'selected' }}>{{ range.label }}</option>
            {% endfor %}
        </select>
    </form>
    {% block widget %}{% endblock %}
</div>
